<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.KO_A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern1.KO_B</key>
    <array>
      <string>B</string>
    </array>
    <key>public.kern1.KO_C</key>
    <array>
      <string>C</string>
    </array>
    <key>public.kern1.KO_D</key>
    <array>
      <string>D</string>
    </array>
    <key>public.kern1.KO_E</key>
    <array>
      <string>E</string>
    </array>
    <key>public.kern1.KO_F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.KO_G</key>
    <array>
      <string>G</string>
    </array>
    <key>public.kern1.KO_H</key>
    <array>
      <string>H</string>
      <string>I</string>
    </array>
    <key>public.kern1.KO_J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern1.KO_K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.KO_L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.KO_M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern1.KO_N</key>
    <array>
      <string>N</string>
    </array>
    <key>public.kern1.KO_O</key>
    <array>
      <string>O</string>
    </array>
    <key>public.kern1.KO_P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.KO_Q</key>
    <array>
      <string>Q</string>
    </array>
    <key>public.kern1.KO_R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern1.KO_S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern1.KO_T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern1.KO_U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern1.KO_V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern1.KO_W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.KO_X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.KO_Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern1.KO_Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern1.KO_a</key>
    <array>
      <string>a</string>
    </array>
    <key>public.kern1.KO_b</key>
    <array>
      <string>b</string>
    </array>
    <key>public.kern1.KO_c</key>
    <array>
      <string>c</string>
    </array>
    <key>public.kern1.KO_colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.KO_d</key>
    <array>
      <string>d</string>
    </array>
    <key>public.kern1.KO_e</key>
    <array>
      <string>e</string>
    </array>
    <key>public.kern1.KO_exclam</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern1.KO_f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.KO_five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern1.KO_four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern1.KO_g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern1.KO_h</key>
    <array>
      <string>h</string>
    </array>
    <key>public.kern1.KO_hyphen</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern1.KO_i</key>
    <array>
      <string>i</string>
    </array>
    <key>public.kern1.KO_j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern1.KO_k</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern1.KO_l</key>
    <array>
      <string>l</string>
    </array>
    <key>public.kern1.KO_n</key>
    <array>
      <string>m</string>
      <string>n</string>
    </array>
    <key>public.kern1.KO_nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern1.KO_o</key>
    <array>
      <string>o</string>
    </array>
    <key>public.kern1.KO_one</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern1.KO_p</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern1.KO_period</key>
    <array>
      <string>period</string>
    </array>
    <key>public.kern1.KO_q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern1.KO_question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern1.KO_quotedbl</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern1.KO_quotedblleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern1.KO_r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.KO_s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern1.KO_seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern1.KO_six</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern1.KO_t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern1.KO_three</key>
    <array>
      <string>three</string>
      <string>eight</string>
    </array>
    <key>public.kern1.KO_two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern1.KO_u</key>
    <array>
      <string>u</string>
    </array>
    <key>public.kern1.KO_v</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern1.KO_w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern1.KO_x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.KO_y</key>
    <array>
      <string>y</string>
    </array>
    <key>public.kern1.KO_z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern1.KO_zero</key>
    <array>
      <string>zero</string>
    </array>
    <key>public.kern2.KO_A</key>
    <array>
      <string>A</string>
    </array>
    <key>public.kern2.KO_B</key>
    <array>
      <string>B</string>
      <string>K</string>
    </array>
    <key>public.kern2.KO_D</key>
    <array>
      <string>D</string>
    </array>
    <key>public.kern2.KO_E</key>
    <array>
      <string>E</string>
      <string>F</string>
      <string>L</string>
    </array>
    <key>public.kern2.KO_H</key>
    <array>
      <string>H</string>
      <string>I</string>
    </array>
    <key>public.kern2.KO_J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.KO_M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern2.KO_N</key>
    <array>
      <string>N</string>
    </array>
    <key>public.kern2.KO_O</key>
    <array>
      <string>C</string>
      <string>G</string>
      <string>O</string>
    </array>
    <key>public.kern2.KO_P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern2.KO_Q</key>
    <array>
      <string>Q</string>
    </array>
    <key>public.kern2.KO_R</key>
    <array>
      <string>R</string>
    </array>
    <key>public.kern2.KO_S</key>
    <array>
      <string>S</string>
    </array>
    <key>public.kern2.KO_T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.KO_U</key>
    <array>
      <string>U</string>
    </array>
    <key>public.kern2.KO_V</key>
    <array>
      <string>V</string>
    </array>
    <key>public.kern2.KO_W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.KO_X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.KO_Y</key>
    <array>
      <string>Y</string>
    </array>
    <key>public.kern2.KO_Z</key>
    <array>
      <string>Z</string>
    </array>
    <key>public.kern2.KO_a</key>
    <array>
      <string>a</string>
    </array>
    <key>public.kern2.KO_b</key>
    <array>
      <string>b</string>
    </array>
    <key>public.kern2.KO_colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.KO_d</key>
    <array>
      <string>d</string>
    </array>
    <key>public.kern2.KO_e</key>
    <array>
      <string>c</string>
      <string>e</string>
    </array>
    <key>public.kern2.KO_eight</key>
    <array>
      <string>eight</string>
    </array>
    <key>public.kern2.KO_exclam</key>
    <array>
      <string>exclam</string>
    </array>
    <key>public.kern2.KO_f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern2.KO_five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern2.KO_four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern2.KO_g</key>
    <array>
      <string>g</string>
    </array>
    <key>public.kern2.KO_h</key>
    <array>
      <string>h</string>
    </array>
    <key>public.kern2.KO_hyphen</key>
    <array>
      <string>hyphen</string>
    </array>
    <key>public.kern2.KO_i</key>
    <array>
      <string>i</string>
    </array>
    <key>public.kern2.KO_j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.KO_k</key>
    <array>
      <string>k</string>
    </array>
    <key>public.kern2.KO_l</key>
    <array>
      <string>l</string>
    </array>
    <key>public.kern2.KO_nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern2.KO_o</key>
    <array>
      <string>o</string>
    </array>
    <key>public.kern2.KO_one</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern2.KO_p</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern2.KO_period</key>
    <array>
      <string>period</string>
      <string>comma</string>
    </array>
    <key>public.kern2.KO_q</key>
    <array>
      <string>q</string>
    </array>
    <key>public.kern2.KO_question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.KO_quoteleft</key>
    <array>
      <string>quotedblleft</string>
      <string>quoteleft</string>
    </array>
    <key>public.kern2.KO_quotesingle</key>
    <array>
      <string>quotedblright</string>
      <string>quoteright</string>
      <string>quotedbl</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.KO_r</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>r</string>
    </array>
    <key>public.kern2.KO_s</key>
    <array>
      <string>s</string>
    </array>
    <key>public.kern2.KO_seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern2.KO_six</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern2.KO_t</key>
    <array>
      <string>t</string>
    </array>
    <key>public.kern2.KO_three</key>
    <array>
      <string>three</string>
    </array>
    <key>public.kern2.KO_two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern2.KO_u</key>
    <array>
      <string>u</string>
    </array>
    <key>public.kern2.KO_v</key>
    <array>
      <string>v</string>
    </array>
    <key>public.kern2.KO_w</key>
    <array>
      <string>w</string>
    </array>
    <key>public.kern2.KO_x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.KO_y</key>
    <array>
      <string>y</string>
    </array>
    <key>public.kern2.KO_z</key>
    <array>
      <string>z</string>
    </array>
    <key>public.kern2.KO_zero</key>
    <array>
      <string>zero</string>
    </array>
  </dict>
</plist>
